<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>
<center>
    <h1>Welcome to the Online <span>Book Store</span></h1>
    <section class="border">
        <a th:href="@{/book_register}" class="btn">Register a Book</a>
        <br/><br/>
        <a th:href="@{/available_books}" class="btn">View Available Books</a>
        <br/><br/>
        <a th:href="@{/my_books}" class="btn">My Books</a>
    </section>
</center>
</body>
</html>
